html {
  background: url(../images/spice-girls.jpg) no-repeat top left;
}

#monkey {
  position: absolute;
  top: 550px;
  right: 120px;
}

/* Write your solution here */

@media only screen and (min-width: 1180px) and (max-width:2000px){
  #monkey{
    top: 406px;
    right: 1170px;
  }
}